#profile-intro a,
.container a {
  border-bottom: 1px dashed;
}
.spacer-small {
  padding-bottom: 50px;
}
.spacer-large {
  padding-bottom: 500px;
}
.spacer-window {
  padding-bottom: 1440px;
}
#bottombar {
  margin-bottom: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
#profile-intro {
  padding-top: 70px;
  background-color: #2980b9;
  color: #ecf0f1;
}
#profile-intro a {
  color: #fff;
}
#profile-intro a:hover,
#profile-intro a:focus {
  color: #1abc9c;
}
#mission-statement {
  color: #fff;
}
#logo-img {
  width: 192px;
  height: 256px;
  background: url("../images/logo.png") no-repeat;
}
.navbar .container a {
  border-bottom: none;
}
#lyla-nav {
  background-color: rgba(235,248,249,0.7);
}
.panel {
  color: #2980b9;
}
.panel a {
  color: #2980b9;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.panel a:hover,
.panel a:focus {
  color: #1abc9c;
}
.bullet-container,
.activity-container {
  margin-bottom: 40px;
}
.bullet-heading,
.activity-heading {
  margin-top: 5px;
}
.bullet-info .lead {
  margin-bottom: 0px;
  font-size: 1em;
}
.bullet-dateplace {
  font-style: italic;
  font-size: 12px;
  margin: 0px;
  position: relative;
  top: -8px;
}
.bullet-heading {
  margin-bottom: 0px;
}
#logo-img {
  -webkit-animation: slideIn 0.25s ease-in 0.5s 1 normal forwards;
  -moz-animation: slideIn 0.25s ease-in 0.5s 1 normal forwards;
  -o-animation: slideIn 0.25s ease-in 0.5s 1 normal forwards;
  -ms-animation: slideIn 0.25s ease-in 0.5s 1 normal forwards;
  animation: slideIn 0.25s ease-in 0.5s 1 normal forwards;
  top: -300px;
  position: relative;
}
.nav-up {
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
}
.nav-down {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.nav-animation-down {
  -webkit-animation: menuSlideDown 0.25s ease-in 0.25s 1 normal forwards;
  -moz-animation: menuSlideDown 0.25s ease-in 0.25s 1 normal forwards;
  -o-animation: menuSlideDown 0.25s ease-in 0.25s 1 normal forwards;
  -ms-animation: menuSlideDown 0.25s ease-in 0.25s 1 normal forwards;
  animation: menuSlideDown 0.25s ease-in 0.25s 1 normal forwards;
}
.nav-animation-up {
  -webkit-animation: menuSlideUp 0.25s ease-in 0.25s 1 normal forwards;
  -moz-animation: menuSlideUp 0.25s ease-in 0.25s 1 normal forwards;
  -o-animation: menuSlideUp 0.25s ease-in 0.25s 1 normal forwards;
  -ms-animation: menuSlideUp 0.25s ease-in 0.25s 1 normal forwards;
  animation: menuSlideUp 0.25s ease-in 0.25s 1 normal forwards;
}
#mission-statement {
  top: 2000px;
  position: relative;
}
.slide-up {
  -webkit-animation-name: profileAnim;
  -moz-animation-name: profileAnim;
  -o-animation-name: profileAnim;
  -ms-animation-name: profileAnim;
  animation-name: profileAnim;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-moz-keyframes slideIn {
  100% {
    top: 0px;
  }
}
@-webkit-keyframes slideIn {
  100% {
    top: 0px;
  }
}
@-o-keyframes slideIn {
  100% {
    top: 0px;
  }
}
@-ms-keyframes slideIn {
  100% {
    top: 0px;
  }
}
@keyframes slideIn {
  100% {
    top: 0px;
  }
}
@-moz-keyframes menuSlideDown {
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes menuSlideDown {
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-o-keyframes menuSlideDown {
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-ms-keyframes menuSlideDown {
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes menuSlideDown {
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes menuSlideUp {
  100% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-webkit-keyframes menuSlideUp {
  100% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-o-keyframes menuSlideUp {
  100% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-ms-keyframes menuSlideUp {
  100% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes menuSlideUp {
  100% {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-moz-keyframes profileAnim {
  0% {
    top: 2000px;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  80% {
    top: 0px;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  86% {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    top: 40px;
  }

  92% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    top: 0px;
  }

  96% {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    top: 10px;
  }

  100% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    top: 0px;
  }
}
@-webkit-keyframes profileAnim {
  0% {
    top: 2000px;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  80% {
    top: 0px;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  86% {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    top: 40px;
  }

  92% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    top: 0px;
  }

  96% {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    top: 10px;
  }

  100% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    top: 0px;
  }
}
@-o-keyframes profileAnim {
  0% {
    top: 2000px;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  80% {
    top: 0px;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  86% {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    top: 40px;
  }

  92% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    top: 0px;
  }

  96% {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    top: 10px;
  }

  100% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    top: 0px;
  }
}
@-ms-keyframes profileAnim {
  0% {
    top: 2000px;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  80% {
    top: 0px;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  86% {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    top: 40px;
  }

  92% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    top: 0px;
  }

  96% {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    top: 10px;
  }

  100% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    top: 0px;
  }
}
@keyframes profileAnim {
  0% {
    top: 2000px;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  80% {
    top: 0px;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  86% {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    top: 40px;
  }

  92% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    top: 0px;
  }

  96% {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    top: 10px;
  }

  100% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    top: 0px;
  }
}
