include activity_mixin
include bullet_mixin
doctype html
html(lang='en')
	head
		title Lyla | Portfolio
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
		//script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

		link(href='bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='bower_components/flat-ui-official/css/flat-ui-edited.css', rel='stylesheet')
		link(href='css/styles.css', rel='stylesheet')
		script(src='bower_components/jquery/dist/jquery.min.js')
		// Include all compiled plugins (below), or include individual files as needed 
		script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='js/profile.js')
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
		// WARNING: Respond.js doesn't work if you view the page via file:// 
		// if lt IE 9
		script
			|(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			|(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			|m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			|})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			|ga('create', 'UA-50120274-1', 'ceruleanotter.github.io');
			|ga('send', 'pageview');
			
		
		

		
	body

		.navbar.navbar-default.navbar-fixed-top.nav-up#lyla-nav
			.container
				button.navbar-toggle(data-toggle="collapse" data-target=".navbar-collapse")
					//literally is making each line inside of the button
					span.icon-bar
					span.icon-bar
					span.icon-bar
				
				a.navbar-brand Where to?
				.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li: a.scroll-link(href="#logo" data-id="logo") Top
						li: a.scroll-link(href="#basics" data-id="basics") About Me
						li: a.scroll-link(href="#organized" data-id="organized") Organized
						li: a.scroll-link(href="#hacked" data-id="hacked") Hacked
						li: a.scroll-link(href="#filmed" data-id="filmed") Filmed
						//
							li: a.scroll-link(href="#designed" data-id="designed") Designed
							li: a.scroll-link(href="#educated" data-id="educated") Educated						
							li: a.scroll-link(href="#traveled" data-id="traveled") Traveled

		#profile-intro
			.container
				#logo
					#logo-img.center-block
				.row#mission-statement.spacer-large.text-center
						h1 Hi. It's Lyla,
						:markdown
							#####I'm a <a class="scroll-link" href="#traveled" data-id="traveled">globe</a>-trotting <a class="scroll-link" href="#hacked" data-id="hacked">hacker</a> and <a class="scroll-link" href="#organized" data-id="organized">coordinator</a> with a passion for <a class="scroll-link" href="#filmed" data-id="filmed">multimedia</a>. 
						p(style='white-space:pre;').text-center Want to work together? Contact me at Lyla.Fujiwara( a )gmail.com
			
		
		
		.container#profile-content
			.row#basics
				h2 About Me
				.row
					.col-md-6
						img.img-responsive.img-rounded(src="images/aboutme.jpg")
					.col-md-6
						span.lead Contact Me
						div
							:markdown
								**email** Lyla.Fujiwara( a )gmail.com ;	**LinkedIn** [lylafujiwara](https://www.linkedin.com/in/lylafujiwara) 
						span.lead Resume
						div
							a(href="media/resume_redesign.pdf") Download 
							| or 
							a.scroll-link(data-toggle="collapse" data-parent="#resumeParent" data-id="resumeParent" href="#collapseResume") Open here
						span.lead Current Location
						div
							|Rochester NY (looking to relocate)
						span.lead Current Projects
						ul
							li
								:markdown
									Taking two [Coursera](www.coursera.org) classes - [Cryptography](https://class.coursera.org/crypto-010/) and [Developing Innovative Ideas](https://class.coursera.org/innovativeideas-008)
							li
								:markdown
									Making this website and learning CSS3, bootstrap, and templating engines([Jade](http://jade-lang.com/) and [Stylus](http://learnboost.github.io/stylus/)) while I'm at it.
							li
								:markdown
									Working as a [HelpX](https://www.helpx.net/) volunteer at the [Little Flower Cooperative](http://littleflowercommunity.com/)
				.row-fluid#resumeParent
					iframe.span12.container.collapse#collapseResume(src="http://docs.google.com/gview?url=http://ceruleanotter.github.io/media/lyla_fujiwara_resume.pdf&embedded=true" frameborder="0")
			.row#organized
				h2 Organized
				+activity("TechKobwa Girl's Computer Camp",'Camp Director and Creator ', 'images/techkobwa.jpg', 'Peace Corps Rwanda', '1/2013-8/2013', "TechKobwa is a one week computer camp for disadvantaged girls that I created during my time in Rwanda.")(class="well well-sm")
					:markdown
						Bringing TechKobwa to life involved coordinating many organizations, including [Girls in ICT Rwanda](https://www.facebook.com/GirlsInICTRW) and [kLab](http://klab.rw/).
						The curriculum was specially designed for the camp. It included
						lessons on programming using MIT's [Scratch](http://scratch.mit.edu/) 
						and a lesson from [Computer Science Unplugged](http://csunplugged.org/) where the whole camp collaborated
						to make a giant pixel-art [picture](images\techkobwa_pixels.jpg) of the mascot. [littleBits](http://littlebits.cc/) kindly donated  some of their awesome kits to the camp.
						TechKobwa will be continuing next year with support from [Michigan State University](http://www.cse.msu.edu/tc4g/) and IBM.

						**See**
						[State Department Article](http://iipdigital.usembassy.gov/st/english/article/2013/09/20130913282834.html#axzz2yWuQIeMk),
						[Rwandan New Times Article](http://www.newtimes.co.rw/news/views/article_print.php?15451&a=16286&week=32),
						[Photos](https://www.flickr.com/photos/celebdu/sets/72157635291190831/) 
						courtesy of [Mike Goren](http://www.mortalwombat.net/),
						[Gender and Development PC Rwanda blog post](http://gadpcrwanda.blogspot.com/2013/08/camp-techkobwa-by-liz-s_19.html),
						[Blog post by Elisabeth Turner](http://detourscenery.wordpress.com/2013/08/23/camp-techkobwa/).
				
				+activity("Gashora Girls Academy Computer Lab", 'Technology and Lab Manager', 'images/computerlab_kagame.jpg', 'Peace Corps Rwanda', '2011-2013', "Gashora Girls Academy has a sweet computer lab.")
					:markdown
						Gashora Girls Academy had a lot of technical needs during my time there. We were blessed with donated machines running
						[Windows Multipoint Server](http://www.microsoft.com/casestudies/Windows-Multipoint-Server-2011/Gashora-Girls-Academy/Rwandan-Girls-Academy-Models-Cost-EffectiveTechnology-Solution-for-Future-Schools/4000010078)
						and 270 [OLPC laptops](http://one.laptop.org/). I organized students to help administer the lab as student monitors
						and set up a <a href="#schooltool" data-id="schooltool" class="scroll-link">student database</a> 
						for the school using the open source SIS [SchoolTool](http://schooltool.org/).

						**See**
						[Computer Lab Policy Documents](media/GGAST Computer Lab Policy 2013.doc), [Student Monitor Video](http://youtu.be/_oFwRCOYCSM), [Easy Tomato Router Software](http://www.easytomato.org/)

				+bullet("GLOW and BE Camps",'Camp Activities Coordinator', 'Peace Corps Rwanda', '2012-2013', "Organized camp activities such as sports dances, arts and crafts, and camp-wide field days and a scavenger hunt for GLOW and BE youth camps.")
					:markdown
						**See** [GLOW(girls leading our world)](http://www.peacecorps.gov/media/forpress/press/1840/)
													
			.row#hacked
				h2 Hacked
				+activity("SchoolTool Grade Gadget",'Programmed', 'images/schooltool.png', 'Gashora Girls Academy', '2011-2013', "My school needed a quick way to make report cards.")(id="schooltool" class="well well-sm")
					:markdown
						[Gashora Girls Academy](http://www.rwandagirlsinitiative.org/ggast/) was also looking for a student database. 
						I picked the open source SIS [SchoolTool](www.schooltool.org) and went to work creating a program that
						would allow administers to make printable reports from exported excel data. I wrote the Gashora Grade Gadget
						using Python 2.7. It generates an html document that can be fed in to [Prince](http://www.princexml.com/) to create beautiful printable
						PDFs. For the GUI, I used the [wx.Python](http://www.wxpython.org/) library and to create an executable I used
						[pyBuilder](https://pypi.python.org/pypi/PyBuilder-for-Py2exe/0.3).

						**See**
						[Code on GitHub](https://github.com/ceruleanotter/gradegadget), [Report Card Example](), [Midterm Report Example](), [GUI Screenshot]() 					
				+activity("Momenta",'Game Programmer, Designer', 'images/momenta.png', 'Brown University', '1/2010-5/2010', "The result of my senior year independent study in mobile games.")
									:markdown
										The most successful of which was Momenta, a 2D, touch based physics platformer. We (myself and three other students) play-tested, revised and released the finished product on the android market place.
										Other projects leading up to Momenta included a choose your own adventure style game, and a multi-player hungry hungry hippos game. We used the Android SDK in conjunction with Eclipse. For version control we used Mercurial. 

										**See**
										[Momenta in the Android Marketplace](https://play.google.com/store/apps/details?id=androidattack.platformer) 					


				
				+bullet("Games",'Game Programmer, Designer', 'Everywhere', '2011-2014', "Flash games designed for my students and indie experiments")
					span.pull-left
						:markdown
							**See**
							[ITS A TREE : Entry for Ludum Dare 29, 72hr game jam](http://www.ludumdare.com/compo/ludum-dare-29/?action=preview&uid=35718), [In The Dark Typing Game on GitHub](https://github.com/ceruleanotter/inthedark), [TwizaDots on GitHub](https://github.com/ceruleanotter/TwizaDots), [Africa HackTrip visits Rwanda](https://africahacktrip.org/category/locations/rwanda/), TwizaDots made during [Africa Hack Trip](https://africahacktrip.org/)
							**Used**
							[Flashpunk](http://useflashpunk.net/)
				+bullet("Django Experiments",'Programmer', 'Peace Corps Rwanda', '2011-2013', "Some experiments fiddling with the Django framework.")					
					span.pull-left
						:markdown
							**See**
							[GGAST Technical Masters on GitHub](https://github.com/ceruleanotter/GGAST_TechMasters)
							**Used** [Django](https://docs.djangoproject.com/en/dev/intro/tutorial01/), [Pinax](http://pinaxproject.com/), [django-swingtime](https://code.google.com/p/django-swingtime/)
	

			.row#filmed
				h2 Filmed
				+activity("Mount Olympus",'Executive Producer', '', 'Brown University', '2010', "What if the Greek Gods were stuck in the bodies of college students?")(class="well well-sm")
					:markdown
						That was the premise of a TV mini-series that we ([Arik Beatty](http://www.arikbeatty.com/), [Jeremy Kuhn](https://files.nyu.edu/jdk360/public/) and myself) developed for Brown Television during our senior year. 
						As an executive producer, I took turns
						as cinematographer, director, writer and editor during production. 

						**See**
						[Watch](http://vimeo.com/11378339), [Brown Daily Herald Article](http://www.browndailyherald.com/2010/04/26/new-btv-series-transforms-college-hill-into-mt-olympus/)

				+bullet("48 Hour Competitions",'Cinematographer, Director', 'Brown University', '2009-2010', "Films made during various 48 hour film competitions.")
					:markdown
						**See**
						[Watch Not All Who Wander](https://www.youtube.com/watch?v=pImhkZ0shts), [Watch Return to Sender](https://www.youtube.com/watch?v=sV9cRXal0yo), [Watch Hair Today, Gone Tomorrow!](https://www.youtube.com/watch?v=Euks_k3rx14)

			//
				.row#designed
					h2 Designed
					span.lead Coming Soon
				.row#educated
					h2 Educated
					span.lead Coming Soon
				.row#traveled
					h2 Traveled
					span.lead Coming Soon
					
		.navbar.navbar-default.navbar-static-bottom#bottombar
			.container
				p.navbar-text This website lovingly made with a mixture of CSS3, HTML5, jQuery, Bootstrap, Flat-UI, Jade and Stylus.